<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos And Ninjas</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div id="forms">
        <form action="/createDojo" method="post">
            {% csrf_token %}
            <h1>Add a Dojo</h1>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" name="city" class="form-control">
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" name="state" id="state" class="form-control">
            </div>
            <button class="btn btn-primary">Add</button>
        </form>
        <form action="/createNinja" method="post">
            {% csrf_token %}
            <h1>Add a Ninja</h1>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" class="form-control">
            </div>
            <label for="my_dojo">Choose a Dojo:</label>
                <select id="my_dojo" name="my_dojo">
                    {%for dojo in dojos%}
                    <option value="{{dojo.id}}">{{dojo.name}}</option>
                    {%endfor%}
                </select> 
            
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
    <hr>
    <h1>All the Dojos</h1>
    {%for dojo in dojos%}
        <h3>Ninjas at the {{dojo.name}} Dojo</h3>
        <ul>
            {%for ninja in dojo.ninjas.all%}
                <li>{{ninja.fullname}}</li>
            {%endfor%}
        </ul>
    
    {%endfor%}
</body>
</html>